<form class="edit-form flex-column" action= <%= type === 'update' ? `/asteroids/${asteroid.id}` : '/asteroids/' %> method="POST">
  <input type="hidden" name="_method" value="<%= type === 'update' ? 'put' : 'post' %>">
  <input type="hidden" name="id" value="<%= asteroid.id %>">
  <input type="hidden" name="date" placeholder="Date" value="<%= asteroid.date %>" required>
  <input type="hidden" name="link" placeholder="Link" value="<%= asteroid.link %>" required>
  <input type="hidden" name="meters" placeholder="meters" value="<%= asteroid.meters %>" required>
  <input type="hidden" name="feet" placeholder="feet" value="<%= asteroid.feet %>" required>
  <input type="hidden" name="hazardous" placeholder="hazardous" value="<%= asteroid.hazardous %>" required>
  <input type="hidden" name="kmh" placeholder="kmh" value="<%= asteroid.kmh %>" required>
  <input type="hidden" name="mph" placeholder="mph" value="<%= asteroid.mph %>" required>
  <input type="hidden" name="miss_au" placeholder="miss_au" value="<%= asteroid.miss_au %>" required>
  <input type="hidden" name="miss_km" placeholder="miss_km" value="<%= asteroid.miss_km %>" required>
  <input type="hidden" name="miss_mi" placeholder="miss_mi" value="<%= asteroid.miss_mi %>" required>
  <% if(type === 'update') { %>
    Name: <input type="text" name="name" placeholder="Name the asteroid" value="<%= asteroid.name %>" required>
  <% } else { %>
    <input type="text" name="name" placeholder="name" required>
  <% } %>
  <button type="submit" class="button upd-del"> <%= type === 'search' ?'Add to Database' : 'Update' %></button>
</form>
