<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include ('../../partials/head') %>
    <title>Asteroids - NeoWs API</title>
  </head>
  <body>
    <header>
      <%- include ('../../partials/header') %>
    </header>
    <h1>ASTEROIDS</h1>
    <main>
      <section class="asteroid">
        <% if(results) { %>
          <% results.forEach( asteroid => { %>
            <div class="asteroid flex-column">
              <h3> <%= asteroid.date; %> </h3>
              <h4> <%= asteroid.link; %> </h4>
              <p><%= asteroid.meters; %> </p>
              <form class="edit-form" action="/asteroids" method="POST">
                <div class="show-hide">
                  <input type="text" name="date" placeholder="Date" value="<%= asteroid.date %>" required>
                  <input type="text" name="link" placeholder="Link" value="<%= asteroid.link %>" required>
                  <input type="text" name="meters" placeholder="meters" value="<%= asteroid.meters %>" required>
                  <input type="text" name="feet" placeholder="feet" value="<%= asteroid.feet %>" required>
                  <input type="text" name="hazardous" placeholder="hazardous" value="<%= asteroid.hazardous %>" required>
                  <input type="text" name="kmh" placeholder="kmh" value="<%= asteroid.kmh %>" required>
                  <input type="text" name="mph" placeholder="mph" value="<%= asteroid.mph %>" required>
                </div>
                <button type="submit" class="select-button">Select This Asteroid</button>
              </form>
            </div>
          <% }); %>
        <% } else { %>
          <div class="flex-column">
            <h3> No asteroid found. Please refine search criteria and <a href="./">try again</a> </h3>
          </div>
        <% }; %>
      </section>
    </main>
    <footer>
        <%- include ('../../partials/footer') %>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script src="../../js/menu.js"></script>
  </body>
</html>