<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
  <title>NASA API</title>
</head>
<body>
  <header>
      <%- include ('../partials/header') %>
  </header>
  <h2>Saved <%= sqlResults.length %> asteroids</h2>
  <main>
    <section class="asteroids saved">
      <% if(sqlResults) { %>
        <% sqlResults.forEach( asteroid => { %>
          <%- include('./asteroids/detail', {show: false, asteroid: asteroid} ) %>
        <% }); %>
      <% } else { %>
        <div class="flex-column">
          <h3> No asteroid with found. Please refine search criteria and <a href="./">try again</a> </h3>
        </div>
      <% }; %>
    </section>
    <section >
      <% results.forEach( asteroid => { %>
        <div class="asteroid flex-column">
          <h3> <span class="show">Date: </span><%= asteroid.date; %> </h3>
          <h4> <span class="show">Diameter: </span><%= asteroid.meters; %> meters (<%= asteroid.feet; %> feet)  </h4>
          <p> <span class="show">Hazardous: </span><%= asteroid.hazardous; %> </p>
        </div>
      <% }); %>
    </section>
    meteors
    <section >
      <% meteors.forEach( meteors => { %>
        <div class="asteroid flex-column">
          <h3> <span class="show">Date: </span><%= meteors.date; %> </h3>
          <h4> <span class="show">Energy: </span><%= meteors.energy; %> kilotons</h4>
          <p> <span class="show">Lat: </span><%= meteors.lat; %> </p>
          <p> <span class="show">Lat: </span><%= meteors.lon; %> </p>
        </div>
      <% }); %>
    </section>
  </main>
  <footer>
      <%- include ('../partials/footer') %>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
  </script>
  <script src="../../js/menu.js"></script>
  <script src="../../js/app.js"></script>
</body>
</html>