<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
  <title>NASA API</title>
</head>
<body>
  <header>
      <%- include ('../partials/header') %>
  </header>
  <h2>Saved <%= sqlResults.length %> asteroids</h2>
  <main>
    <section class="asteroids">
      <% if(sqlResults) { %>
        <% sqlResults.forEach( asteroid => { %>
          <h3> <%= asteroid.date; %> </h3>
          <h4> <%= asteroid.link; %> </h4>
          <p ><%= asteroid.meters; %> </p>
        <% }); %>
      <% } else { %>
        <div class="flex-column">
          <h3> No asteroid with found. Please refine search criteria and <a href="./">try again</a> </h3>
        </div>
      <% }; %>
    </section>
  </main>
  <footer>
      <%- include ('../partials/footer') %>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
  </script>
  <script src="../../js/menu.js"></script>
</body>
</html>