<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head') %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3RaEbEeqoYn-kQVZQPaeNHPQUr2-y36k"async defer></script>
  <title>NASA API</title>
</head>
<body>
  <header>
      <%- include ('../partials/header') %>
  </header>
  <h2>Saved <%= sqlResults.length %> asteroids</h2>
  <main>
    <section class="asteroids saved">
      <% if(sqlResults) { %>
        <% sqlResults.forEach( asteroid => { %>
          <%- include('./asteroids/detail', {show: false, asteroid: asteroid} ) %>
        <% }); %>
      <% } else { %>
        <div class="flex-column">
          <h3> No asteroid found. Please refine search criteria and <a href="./">try again</a> </h3>
        </div>
      <% }; %>
      <% results.forEach( asteroid => { %>
        <div class="asteroid flex-column">
            <p>Asteroid closest to the Earth today</p>
            <h4> <span class="show">Diameter: </span><%= asteroid.meters; %> meters (<%= asteroid.feet; %> feet)  </h4>
            <p> <span class="show">Speed:</span><%= asteroid.kmh; %> KMH (<%= asteroid.mph; %> MPH) </p>
            <p> <span class="show">Miss distance: </span><%= asteroid.miss_distance_km; %> kilometers (<%= asteroid.miss_distance_km; %> miles) </p>
            <p> <span class="show">Hazardous: </span><%= asteroid.hazardous; %> </p>
            <p><button class="show"><a href="<%= asteroid.link; %>" target="blank">View orbit diagram</a></button></p>
        </div>
      <% }); %>
    </section>
    <section >
    </section>
    <button id="show-asteroids">Show latest meteor impacts</button>
    <div class="map hide">
      <img id="map" src="" alt="Map of search query">
    </div>
    <div id="google"> </div>
  </main>
  <footer>
      <%- include ('../partials/footer') %>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
  </script>
  <script src="../../js/menu.js"></script>
  <script src="../../js/app.js"></script>
  <script src="../../js/meteor-map.js"></script>
</body>
</html>
