<!DOCTYPE html>
<html lang="en">
<head>
  <title>Asteroids - NeoWs API</title>
</head>
<body>
  <header>
    <h2>Search Results</h2>
  </header>
  <main>
    <section class="asteroid">
      <% if(results) { %>
        <% results.forEach( asteroid => { %>
          <div class="asteroid flex-column">
            <p> <%= asteroid.date; %> </p>
            <p> <%= asteroid.jpl_link; %> </p>
            <p><%= asteroid.diameter_meters; %> </p>
            <p><%= asteroid.diameter_feet; %> </p>
            <p><%= asteroid.potentially_hazardous; %> </p>
            <p><%= asteroid.relative_velocity_kmh; %> </p>
            <p><%= asteroid.relative_velocity_mph; %> </p>
            <button class="select button">Select This Asteroid</button>

          </div>
        <% }); %>
      <% } else { %>
        <div class="flex-column">
          <h3> No books with <%= searchType %> <%= searchCriteria %> found. Please refine search criteria and <a href="./">try again</a> </h3>
        </div>
      <% }; %>
    </section>
  </main>
  <footer>
  </footer>
  <script src="../../js/app.js"></script>
</body>
</html>